.mainconntainer{
    border-style: solid;
    border-width: medium;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
}

th{
    padding-left: 10px;
}

td{
    border-style: solid;
    border-width: thin;
    padding: 10px;
}